[Unit]
Description=Nvidia SMI Exporter

[Service]
ExecStart=/usr/local/bin/nvidia-smi-exporter
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
